*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirma{
    height: 30vh;
    width: 70vw;
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navegacao{
    display: flex;
    margin: auto;
    gap: 4rem;
}
.navegacao a{
    height: 2rem;
    width: auto;
    padding: 3px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(46, 112, 255);
}