* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header style */



.logo {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

header a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #23232e;
    height: 8vh;
}

.navList {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}

.navList li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobileMenu {
    cursor: pointer;
    display: none;
}

.mobileMenu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;

}


/* main style */
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../img/background.avif");
    background-repeat: no-repeat;
    background-size: cover;
}

/* table styles */

.tabela {
    width: 50vw;
    border: 1px solid black;
    border-radius: 10px;
    margin: 6rem auto;
    padding: 2rem;
    background-color: #fff;
}

.limitar-texto {
    max-width: 50px;
    /* Largura máxima da célula da tabela */
    overflow: hidden;
    /* Texto que excede a largura será oculto */
    white-space: nowrap;
    /* Impede que o texto seja quebrado em várias linhas */
    text-overflow: ellipsis;
    /* Adiciona reticências (...) quando o texto é cortado */
}

button a {
    color: white;
    text-decoration: none;
}

.visualizar {
    width: auto;
    margin: 0 auto;
}

/* footer styles */

footer {
    display: flex;
    height: 6vh;
    background-color: #23232e;
}

/* responsive settings */

@media (max-width:999px) {
    body {
        overflow-x: hidden;
    }

    .navList {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 100%;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .navList li {
        margin-left: 0;
        opacity: 0;
    }

    .mobileMenu {
        display: block;
    }

    .navList.active {
        transform: translateX(0);
    }

    /*opacidade e slide dos links do menu*/

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translate(50px);
        }

        to {
            opacity: 1;
            transform: translate(0);
        }
    }

    .mobileMenu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
        transition: .3s;
    }

    .mobileMenu.active .line2 {
        opacity: 0;
        transition: .3s;
    }

    .mobileMenu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
        transition: .3s;
    }


    /* table styles */

    .tabela {
        height: 100vh;
    }

    .limitar-texto {
        max-width: 50px;
        /* Largura máxima da célula da tabela */
        overflow: hidden;
        /* Texto que excede a largura será oculto */
        white-space: nowrap;
        /* Impede que o texto seja quebrado em várias linhas */
        text-overflow: ellipsis;
        /* Adiciona reticências (...) quando o texto é cortado */
    }
}